body{
    /* background-color: #112031; */
    color: snow;
    font-family: 'Lato', sans-serif;
    background-image: url("./img/fondoNegro.jpg");
}
#divTitulo{
    text-align: center;
}
.cancion1{
    position: relative;
    margin-left: 18%;
}
.cancion2{
    position: relative;
    margin-left: 10%;
    margin-top: 3%;
}


#mencionesHTitulo{
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-top: 2%;
}

#botonMostrar{
    margin-left: 45%;
    margin-top: 2%;
}




#mencionesHidden{
    display: none;
}
.cancionHidden2{
    position: relative;
    margin-left: 10%;
    margin-top: 3%;
}
.cancionHidden5{
    position: relative;
    margin-left: 10%;
    margin-top: 3%;
}
span{
    font-size: 10px;
    margin-top: 2%;
}

@media (max-width: 900px){
    .divMusica{
        position: relative;
        margin-left: 0%;
    }
    .cancion2{
        position: relative;
        margin-left: 10%;
        width: 40%;
    }
    .cancion1{
        position: relative;
        margin-left: 5%;
        width: 40%;
    }
    .cancionHidden1{
        position: relative;
        margin-left: 5%;
        width: 40%;
    }
    .cancionHidden2{
        position: relative;
        margin-left: 10%;
        width: 40%;
    }
    #botonMostrar{
        margin-left: 40%;
    }
}
@media (max-width: 563px){
    .cancion1{
        position: relative;
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }
    .cancion2{
        position: relative;
        width: 80%;
        margin-left: 10%;
    }
    .cancionHidden1{
        position: relative;
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
    }
    .cancionHidden2{
        position: relative;
        width: 80%;
        margin-left: 10%;
    }
    #botonMostrar{
        margin-left: 35%;
    }
}